/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require open-iconic-bootstrap.min
 *= require animate
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require magnific-popup
 *= require aos
 *= require ionicons.min
 *= require bootstrap-datepicker
 *= require jquery.timepicker
 *= require flaticon
 *= require icomoon
 *= require style
 *= require_self
 */

.section-img2 {
      background: #2ebdc4;
    background: -moz-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #2ebdc4), color-stop(100%, #68e5b2));
    background: -webkit-linear-gradient(
-45deg
, #2ebdc4 0%, #68e5b2 100%);
    background: -o-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -ms-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    background: -webkit-linear-gradient(
315deg
, #2ebdc4 0%, #68e5b2 100%);
    background: -o-linear-gradient(315deg, #2ebdc4 0%, #68e5b2 100%);
    background: linear-gradient(
135deg
, #2ebdc4 0%, #68e5b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebdc4', endColorstr='#68e5b2', GradientType=1 );
}

.logo-wrap{padding:60px 65px;background-color:#fff}
.single-img img{-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s}.single-img img:hover{-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);filter:grayscale(0%)}@media(max-width:800px){.single-img img{margin-bottom:40px}}